.body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.cardiv {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
}