.main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.card {
    width: 21% !important;
    margin-top: 35px;
}

.card-img-top {
    height: 150px;
    width: 150px;
}